@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
   background-image: url(BG-Tx-1.svg);
   background-attachment: fixed;
   background-position: center center;
   background-size: 100%;
   background-repeat: no-repeat;
   background-color: #1c1c1c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
  }
  
  .navbar-left {
    margin-right: auto;
  }

  .navbar-right a {
    padding: 0 15px;
  }
  
  .navbar-link {
    font-weight: 300;
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-email {
    margin-left: 5px;
  }

  .navbar-link:not(:last-child)::after {
    content: "/";
    margin-left: 20px;
    color: #fff;
  }


/* Die Erste Section, Skills und den Hi Text */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
  }
  
  .intro-text {
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
  }

.container2 {
    margin-top: 225px;
    min-height: 75vh;
}

.experience {
    margin-top: 100px;
    padding-left: 75px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}

.widebox {
    margin-top: 35px;
    min-width: 100%;
    height: 200px;
    border: 2px solid rgba(98, 98, 98, .2);
    border-style: solid none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #1c1c1c;
}

h1 {
    margin-top: 100px;
    padding-left: 75px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
}

h2 {
    padding-top: 100px;
    padding-left: 75px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
}

.aboutme {
    padding-top: 50px;
    padding-left: 75px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    width: 950px;
}

.container3 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;


}

.container3 a {
  display: block;
  line-height: 0;
  padding: 0;
}

.container3 img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
    width: 100%;
    background-color: #1c1c1c;
    padding-left: 75px;
    padding-right: 75px;
    border: 2px solid rgba(98, 98, 98, .2);
    border-style: solid none none none;
}

#copyright {
    font-weight: 300;
}

.mobile-only {
  display: none;
}


@media (max-width: 970px) {
  .aboutme {
    width: 750px;
  }
  
}

@media (max-width: 750px) {
  .widebox {
      flex-wrap: wrap;
      justify-content: center;
  }

  .aboutme {
    width: 550px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

  .navbar-link span {
    display: none;
  }

  #copyright {
    display: none;
  }
}

@media (max-width: 600px) {
  .container3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .widebox img {
      width: 80px;
  }
}

@media (max-width: 550px) {
  
  .aboutme {
    width: 350px;
  }
}

