@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

html,body {
    background: #06191D;
}

div {
    font-family: 'Oswald', sans-serif;
}



li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 800px;
    margin-top: 25px;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #FFFDD0;
}

.sec1 {
    display: grid;
    min-height: 100vh;
    min-width: 100vh;
}

p {
    color: #FFF;
    font-weight: 300;
    float: right;
}

.kreis {
    background: #FFF;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 425px;
}

.skills {
    background: #FFF;
    width: 250px;
    height: 400px;
    position: absolute;
    left: 425px;
    top: 350px;
}

.desc {
    margin-top: 250px;
    margin-right: 350px;
}